<div class="biography-tab">
    <div class="biography-panel">
        <div class="biography-grid">
            <div class="bio-col-33">
                <div class="skill-header-label">{{localize "ABEA.Biography.Characteristics"}}</div>
                <textarea name="system.biography.characteristics"
                    placeholder="{{localize 'ABEA.Biography.Characteristics'}}">{{system.biography.characteristics}}</textarea>
            </div>
            <div class="bio-col-66">
                <div class="skill-header-label">{{localize "ABEA.Biography.History"}}</div>
                <textarea name="system.biography.history"
                    placeholder="{{localize 'ABEA.Biography.History'}}">{{system.biography.history}}</textarea>
            </div>
        </div>
    </div>
</div>