<div class="header-fields">
    <div class="field name-field">
        <label>{{localize "ABEA.Actor.Name"}}</label>
        <input name="name" type="text" value="{{document.name}}" placeholder="{{localize 'ABEA.Actor.Name'}}" />
    </div>
    <div class="field age-field">
        <label>{{localize "ABEA.Actor.Age"}}</label>
        <input name="system.details.age" type="text" value="{{system.details.age}}" placeholder="0" />
    </div>
</div>