<form class="facanha-dialog">
    <div class="form-group">
        <label>{{localize "ABEA.Facanha.Dialog.Category"}}:</label>
        <div class="form-fields">
            <select name="facanha-categoria" id="facanha-categoria">
                {{selectOptions categories selected="custom" localize=true}}
            </select>
        </div>
    </div>

    <div class="form-group" id="facanha-select-group" style="display: none;">
        <label>{{localize "ABEA.Facanha.Dialog.SelectFeat"}}:</label>
        <div class="form-fields">
            <select name="facanha-selecionada" id="facanha-selecionada">
                <!-- Populated by JS -->
            </select>
        </div>
    </div>

    <div class="form-group" id="facanha-custom-group">
        <label>{{localize "ABEA.Item.Name"}}:</label>
        <div class="form-fields">
            <input type="text" name="facanha-nome" placeholder="Ex: Saltar, Carpintaria..." list="skill-list">
            <datalist id="skill-list">
                {{#each skillList}}
                <option value="{{this}}"></option>
                {{/each}}
            </datalist>
        </div>
        <p class="notes">O nome deve corresponder a uma pericia na ficha do personagem para aplicar bônus.</p>
    </div>

    <div class="form-group">
        <label>Selecione os Jogadores:</label>
        <select name="jogadores" multiple>
            {{selectOptions players valueAttr="id" labelAttr="name"}}
        </select>
        <p class="notes">Segure Ctrl para selecionar vários.</p>
    </div>
    <div class="form-group">
        <label>{{localize "ABEA.Facanha.Card.Difficulty"}}:</label>
        <select name="dificuldade">
            {{selectOptions difficulties selected=15}}
        </select>
    </div>
</form>