<div class="{{cssClass}}">
    <header class="sheet-header">
        <img class="profile-img" src="{{document.img}}" data-action="editImage" title="{{document.name}}" height="100"
            width="100" />
        <div class="header-details-panel">
            <div class="header-details charname">
                <input name="name" type="text" value="{{document.name}}" placeholder="{{localize 'ABEA.Item.Name'}}" />
            </div>
            <div class="form-group">
                <label>{{localize "ABEA.Item.Damage"}}</label>
                <div class="form-fields">
                    <input type="text" name="system.damage" value="{{document.system.damage}}"
                        placeholder="e.g. 1d6 + 2" />
                </div>
            </div>
        </div>
    </header>

    <div class="item-properties">
        <div class="form-group">
            <label>{{localize "ABEA.Item.SkillType"}}</label>
            <div class="form-fields">
                {{#if associatedSkill}}
                <div class="attached-skill" data-action="openSkill" title="{{localize 'ABEA.Item.OpenSkill'}}">
                    <img src="{{associatedSkill.img}}" width="24" height="24" />
                    <span class="skill-name">{{associatedSkill.name}}</span>
                    {{#if isGM}}
                    <a class="item-control skill-delete" data-action="removeSkill"
                        title="{{localize 'ABEA.Item.RemoveSkill'}}">
                        <i class="fas fa-times"></i>
                    </a>
                    {{/if}}
                    <input type="hidden" name="system.skillType" value="{{system.skillType}}" />
                </div>
                {{else}}
                {{#if isGM}}
                <div class="skill-drop-zone">
                    <i class="fas fa-bullseye"></i>
                    <span>{{localize "ABEA.Item.DropSkillHere"}}</span>
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "ABEA.Item.Hands"}}</label>
            <div class="form-fields">
                <input type="text" name="system.hands" value="{{document.system.hands}}"
                    placeholder="{{localize 'ABEA.Item.HandsPlaceholder'}}" class="long-text" />
            </div>
        </div>
        <div class="form-group">
            <label>{{localize "ABEA.Item.Range"}}</label>
            <div class="form-fields">
                <input type="text" name="system.range" value="{{document.system.range}}"
                    placeholder="{{localize 'ABEA.Item.RangePlaceholder'}}" class="long-text" />
            </div>
        </div>
        <section class="sheet-body">
            <label class="description-label">{{localize "ABEA.Item.Description"}}</label>
            <div class="item-description-panel">
                <textarea placeholder="{{localize 'ABEA.Item.Description'}}" name="system.description"
                    id="system.description" rows="1">{{document.system.description}}</textarea>
            </div>
        </section>
    </div>
</div>